<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Acme Shippers</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/router.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Acme Shippers</h1>
        <p>Welcome to the dashboard for monitoring trucks on the go!!!</p>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Tasks</a>
        </div>
        <div class="nav navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="acme-navigation" data-task="add-shipment-page">Add Shipment</a>
                </li>
                <li>
                    <a href="#" class="acme-navigation" data-task="add-route-page">Add Route</a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:if="${errmsg}" th:text="${errmsg}" class="alert alert-danger">Oh Snap!! Something went wrong.</div>
    <div id="custom-data">

    </div>
</div>
</body>
<script type="text/javascript" src="../js/event-handlers.js"></script>
</html>