<div xmlns:th="http://www.thymeleaf.org">

    <form th:action="@{/load/add}" method="post">
        <div class="form-group">
            <label for="routeId">Route-Id</label>
            <input type="text" class="form-control" id="routeId" name="routeId" aria-describedby="help"
                   placeholder="Enter new RouteId"/>
            <small id="help" class="form-text text-muted">This is for adding a new route.
            </small>
        </div>
        <div class="form-group">
            <label for="truckId">Truck-Id</label>
            <input type="text" class="form-control" name="truckId" id="truckId" aria-describedby="help"
                   placeholder="Enter Truck Id for this route"/>
        </div>
        <div class="form-group">
            <label for="shipments">Shipments In Truck</label>
            <table id="shipments" class="table table-striped tabled-bordered">
                <thead>
                <tr>
                    <th>Shipment Id</th>
                    <th>Shipment Name</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shp: ${shipments}">
                    <td class="shpId" th:text="${shp.getShipmentId()}"></td>
                    <td class="shpNm" th:text="${shp.getName()}"></td>
                    <td class="shpQ">
                        <select class="form-control">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <input type="button" id="truckload-add" class="btn btn-primary" value="Submit"/>
    </form>
</div>

<script type="text/javascript" src="js/truckload-functions.js"></script>
