<div xmlns:th="http://www.thymeleaf.org">

    <form th:action="@{/shipment/add}" method="post">
        <div class="form-group">
            <label for="shipmentName">Shipment Name</label>
            <input type="text" class="form-control" id="shipmentName" name="shipmentName" aria-describedby="help"
                   placeholder="Enter new Shipment Name"/>
            <small id="help" class="form-text text-muted">This is for adding a new shipment type which Acme ships.
            </small>
        </div>
        <div class="form-group">
            <label for="shipmentId">Shipment Id</label>
            <input type="text" class="form-control" name="shipmentId" id="shipmentId" aria-describedby="help"
                   placeholder="Enter new Shipment Id"/>
        </div>
        <input type="button" id="shipment-add" class="btn btn-primary" value="Submit"/>
    </form>
</div>

<script type="text/javascript" src="js/shipment-functions.js"></script>
