<div xmlns:th="http://www.thymeleaf.org">

    <form th:action="@{/route/add}" method="post">
        <div class="form-group">
            <label for="routeId">Route-Id</label>
            <input type="text" class="form-control" id="routeId" name="routeId" aria-describedby="help"
                   placeholder="Enter new RouteId"/>
            <small id="help" class="form-text text-muted">This is for adding a new route.
            </small>
        </div>
        <div class="form-group">
            <label for="truckId">Truck-Id</label>
            <input type="text" class="form-control" name="truckId" id="truckId" aria-describedby="help"
                   placeholder="Enter Truck Id for this route"/>
        </div>
        <div class="form-group">
            <label for="origin">Origin</label>
            <input type="text" class="form-control" name="origin" id="origin" aria-describedby="help"
                   placeholder="Enter Origin for this route"/>
        </div>
        <div class="form-group">
            <label for="dest">Destination</label>
            <input type="text" class="form-control" name="destination" id="dest" aria-describedby="help"
                   placeholder="Enter Destination for this route"/>
        </div>
        <input type="button" id="route-add" class="btn btn-primary" value="Submit"/>
    </form>
</div>

<script type="text/javascript" src="js/route-functions.js"></script>
