<div xmlns:th="http://www.thymeleaf.org">


    <table class="table table-striped tabled-bordered">
        <thead>
        <tr>
            <th>Route Id</th>
            <th>Truck Id</th>
            <th>Deviation Distance(in km)</th>
            <th>Deviation Detected At</th>
            <th>Delayed Shipments</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="dv: ${deviations}">
            <td th:text="${dv.getRouteId()}"></td>
            <td th:text="${dv.getTruckId()}"></td>
            <td th:text="${dv.getDeviationDistance()}"></td>
            <td th:text="${dv.getTimestamp()}"></td>
            <td>
                <table class="table tabled-bordered">
                    <thead>
                    <tr>
                        <th>Shipment Id</th>
                        <th>Shipment Name</th>
                        <th>Quantity</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="shp : ${dv.getDelayedShipments()}">
                        <td th:text="${shp.getShipment().getShipmentId()}"></td>
                        <td th:text="${shp.getShipment().getName()}"></td>
                        <td th:text="${shp.getQuantity()}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

</div>