<div xmlns:th="http://www.thymeleaf.org">


    <table class="table table-striped tabled-bordered">
        <thead>
        <tr>
            <th>Route Id</th>
            <th>Truck Id</th>
            <th>Origin</th>
            <th>Destination</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rt: ${routes}">
            <td th:text="${rt.getRouteId()}"></td>
            <td th:text="${rt.getTruckId()}"></td>
            <td th:text="${rt.getOrigin()}"></td>
            <td th:text="${rt.getDestination()}"></td>
        </tr>
        </tbody>
    </table>

</div>