<div xmlns:th="http://www.thymeleaf.org">


    <table class="table table-striped tabled-bordered">
        <thead>
        <tr>
            <th>Shipment Id</th>
            <th>Shipment Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shp: ${shipments}">
            <td th:text="${shp.getShipmentId()}"></td>
            <td th:text="${shp.getName()}"></td>
        </tr>
        </tbody>
    </table>

</div>